*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    scroll-behavior: smooth;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background: #111111;
    color: #ffffff;
    font-size: 1.5rem;
}

.page{
    width: 70vw;
    height: 90vh;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.page h1{
    text-transform: uppercase;
    font-family: 'Monoton', cursive;
    word-spacing: 7px;
    font-size: 2.7rem;
    color: #f03d3d;
    animation: blink 2s infinite;
    -webkit-animation: blink 2s infinite;
}
.page p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    color: #dddddd;
}
.page p strong{
    color: #ffffff;
    font-weight: 600;
}
.page .tab{
    margin-left: 1rem;
}
.page .link{
    text-decoration: none;
    color: #f03d3d;
    font-weight: 600;
}
.page .link:hover{
    background-color: #f03d3d;
    color: #000000;
    transition: all 0.3s ease-in-out 0s;
}


.page h3{
    text-transform: uppercase;
    font-family: 'Bungee', cursive;
    color: #ffffff;
}

.page ul{
    margin-top: 0.3rem;
    margin-left: 1rem;
}
.page ul li a{
    font-weight: 600;
    text-decoration: none;
    color: #f03d3d;
    display: list-item;
    width: fit-content;   
}
.page ul li a span:hover{
    background-color: #f03d3d;
    color: #000000;
    transition: all 0.3s ease-in-out 0s;
}

.page .footer{
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: 700;
}
.page .footer a{
    color: #20c20e;
    text-decoration: none;
}
.page .footer a:hover{
    background-color: #20c20e;
    color: #000000;
    transition: all 0.3s ease-in-out 0s;
}

/*
@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #000000;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    color: #f03d3d;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #000000;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    color: #f03d3d;
  }
}
*/


.container {
    color: #f03d3d;
    margin-bottom: 1rem;
  }
  
  .container .title {
    font-size: 3rem;
    font-family: 'Monoton', cursive;
  }

.glitch {
    position: relative;
  }
  
  .glitch:before {
    content: attr(data-text);
    position: absolute;
    text-shadow: 1px 0 #f200ff;
    top: 0;
    left: -4px;
    color: #;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    -webkit-animation: glitch 3s infinite linear alternate-reverse;
    animation: glitch 3s infinite linear alternate-reverse;
    height: 100%;
    width: 100%;
  }
  
  .glitch:after {
    content: attr(data-text);
    position: absolute;
    text-shadow: -1px 0 #f03d3d;
    top: 0;
    left: 4px;
    color: #ffffff;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    -webkit-animation: glitch 2s infinite linear alternate-reverse;
    animation: glitch 2s infinite linear alternate-reverse;
    height: 100%;
    width: 100%;
  }
  
  @-webkit-keyframes glitch {
    0% {
      clip: rect(24px, 9999px, 136px, 0);
    }
    5% {
      clip: rect(142px, 9999px, 83px, 0);
    }
    10% {
      clip: rect(82px, 9999px, 37px, 0);
    }
    15% {
      clip: rect(51px, 9999px, 78px, 0);
    }
    20% {
      clip: rect(150px, 9999px, 39px, 0);
    }
    25% {
      clip: rect(66px, 9999px, 122px, 0);
    }
    30% {
      clip: rect(141px, 9999px, 33px, 0);
    }
    35% {
      clip: rect(126px, 9999px, 17px, 0);
    }
    40% {
      clip: rect(125px, 9999px, 124px, 0);
    }
    45% {
      clip: rect(34px, 9999px, 22px, 0);
    }
    50% {
      clip: rect(54px, 9999px, 71px, 0);
    }
    55% {
      clip: rect(34px, 9999px, 135px, 0);
    }
    60% {
      clip: rect(150px, 9999px, 98px, 0);
    }
    65% {
      clip: rect(26px, 9999px, 32px, 0);
    }
    70% {
      clip: rect(50px, 9999px, 2px, 0);
    }
    75% {
      clip: rect(144px, 9999px, 77px, 0);
    }
    80% {
      clip: rect(135px, 9999px, 53px, 0);
    }
    85% {
      clip: rect(131px, 9999px, 143px, 0);
    }
    90% {
      clip: rect(127px, 9999px, 133px, 0);
    }
    95% {
      clip: rect(24px, 9999px, 125px, 0);
    }
    100% {
      clip: rect(30px, 9999px, 147px, 0);
    }
  }
  @keyframes glitch {
    0% {
      clip: rect(24px, 9999px, 136px, 0);
    }
    5% {
      clip: rect(142px, 9999px, 83px, 0);
    }
    10% {
      clip: rect(82px, 9999px, 37px, 0);
    }
    15% {
      clip: rect(51px, 9999px, 78px, 0);
    }
    20% {
      clip: rect(150px, 9999px, 39px, 0);
    }
    25% {
      clip: rect(66px, 9999px, 122px, 0);
    }
    30% {
      clip: rect(141px, 9999px, 33px, 0);
    }
    35% {
      clip: rect(126px, 9999px, 17px, 0);
    }
    40% {
      clip: rect(125px, 9999px, 124px, 0);
    }
    45% {
      clip: rect(34px, 9999px, 22px, 0);
    }
    50% {
      clip: rect(54px, 9999px, 71px, 0);
    }
    55% {
      clip: rect(34px, 9999px, 135px, 0);
    }
    60% {
      clip: rect(150px, 9999px, 98px, 0);
    }
    65% {
      clip: rect(26px, 9999px, 32px, 0);
    }
    70% {
      clip: rect(50px, 9999px, 2px, 0);
    }
    75% {
      clip: rect(144px, 9999px, 77px, 0);
    }
    80% {
      clip: rect(135px, 9999px, 53px, 0);
    }
    85% {
      clip: rect(131px, 9999px, 143px, 0);
    }
    90% {
      clip: rect(127px, 9999px, 133px, 0);
    }
    95% {
      clip: rect(24px, 9999px, 125px, 0);
    }
    100% {
      clip: rect(30px, 9999px, 147px, 0);
    }
  }



/*responsive website*/
@media screen and (max-width: 420px){
    body{
        font-size: 1.3rem;
    }
}
@media screen and (max-width: 370px){
    body{
        font-size: 1.1rem;
    }
    .container .title {
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 320px){
    body{
        font-size: 1rem;
    }
    .container .title {
        font-size: 2.1rem;
    }
}
